<nz-layout>
  <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null">
    <div class="logo"><img src="../../assets/logo.png" width="50px" /></div>
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <!-- <li nz-submenu nzTitle="User" nzIcon="user">
        <ul>
          <li nz-menu-item>Tom</li>
          <li nz-menu-item>Bill</li>
          <li nz-menu-item>Alex</li>
        </ul>
      </li> -->
      <!-- <li nz-submenu nzTitle="Team" nzIcon="team">
        <ul>
          <li nz-menu-item>Team 1</li>
          <li nz-menu-item>Team 2</li>
        </ul>
      </li> -->
      <li dir="ltr" nz-menu-item>
        <span nz-icon nzType="file"></span>
        <span>لیست تسک ها</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="header-item">
        <div>
          <span
            class="trigger"
            nz-icon
            [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            (click)="isCollapsed = !isCollapsed"
          ></span>
          <span style="font-weight: bolder;">
            برنامه زمانبندی مهاجرت سامانه های بانکی بانک کارآفرین
          </span>
        </div>
        <div class="logos">
          <span><img src="../../assets/logo.png" width="70px" /></span>
          <span><img src="../../assets/bank-logo.png" width="70px" /></span>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <!-- <nz-breadcrumb-item>لیست تسک ها</nz-breadcrumb-item> -->
      </nz-breadcrumb>
      <div class="inner-content"><app-task-list></app-task-list></div>
    </nz-content>
    <nz-footer
      >تمامی حقوق این سایت متعلق به شرکت نگاه بانک کارآفرین می‌باشد.</nz-footer
    >
  </nz-layout>
</nz-layout>
