<nz-table
  [nzData]="listOfRandomUser"
  [nzFrontPagination]="false"
  [nzLoading]="loading"
  [nzTotal]="total"
  [nzPageIndex]="pageIndex"
  (nzQueryParams)="onQueryParamsChange($event)"
  pagination=
>
  <thead>
    <tr>
      <th nzColumnKey="title" [nzSortFn]="true">عنوان</th>
      <th nzColumnKey="state" [nzFilters]="filterGender" [nzFilterFn]="true">
        وضعیت
      </th>
                  <th nzColumnKey="day" [nzSortFn]="true">روز</th>

            <th nzColumnKey="date" [nzSortFn]="true">تاریخ</th>
<th nzColumnKey="startHour" [nzSortFn]="true">ساعت شروع</th>
            <th nzColumnKey="endHour" [nzSortFn]="true">ساعت پایان</th>
            <th nzColumnKey="unit" [nzSortFn]="true">متولی</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfRandomUser">
      <td>{{ data.title }}</td>
      <td>{{ getState(data.state) }}</td>
            <td>{{ getDay(data.day) }}</td>
      <td>{{ data.date }}</td>
<td>{{ data.startHour }}</td>
      <td>{{ data.endHour }}</td>
      <td>{{ data.unit }}</td>

    </tr>
  </tbody>
</nz-table>
